div.container {
    width: 100%;
    border: 1px solid gray;
    background-color: #1D2026;
}

header {
    padding: 1em;
    color: white;
    background-color: #1D2026 ;
    clear: left;
    text-align: left;
}

footer{
    padding: 1em;
    color: white;
    background-color:#1D2026 ;
    font-family: Economica;
    clear: left;
    text-align: center;
}

nav ul li a{
	display: block;
	text-decoration: none;
	font-family: Economica;
	color: #fff;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav ul li {
	font-size: 30px;
	border-bottom: 1px solid #444;
	padding: 10px 5px;
	background-color: #1D2026;
}

nav ul li:hover {
	background-color: #555;
	transition: all .3s ease;
}

@media screen and (min-width: 665px){
	nav{
		font-size: 0;
	}
	nav ul li {
		display: inline-block;
		width: 120px;
		font-size: 20px;
		border-bottom: none;
	}

	ul{

		background-color: #1D2026;
}

nav{

	float: left;
}

* {
  box-sizing: border-box;
}

*{
  margin:0;
  padding:0;
}




#social{

	float: left;
	display: block;

	

}

h1{

	font-family: Economica;
	color: white;
}

nav ul li a{
	display: block;
	text-decoration: none;
	font-family: Economica;
	color: #fff;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav ul li {
	font-size: 30px;
	border-bottom: 1px solid #444;
	padding: 10px 5px;
	background-color: #1D2026;
}

nav ul li:hover {
	background-color: #555;
	transition: all .3s ease;
}

@media screen and (min-width: 665px){
	nav{
		font-size: 0;
	}
	nav ul li {
		display: inline-block;
		width: 120px;
		font-size: 20px;
		border-bottom: none;
	}

	ul{

		background-color: #1D2026;
}

#newsletter{
	float: right;
	margin-top: 80px;
}

input{
	font-family: Economica;
	width: 300px;
	font-size: 15px;
}

button{
	font-family: Economica;
	font-size: 15px;
	width: 50px;
}


#LN{
	margin-top: 40px;
}

#news1{
	margin-top: 40px;
	-webkit-filter: grayscale(.7);
}

#n1{

   position: absolute; 
   top: 1300px; 
   left: 0; 
   background-color: white;
   color: #1D2026;

 }

 #news2{
 	
 }

