/*navbar*/

div.container {
    width: 100%;
    border: 1px solid gray;
    background-color: #1D2026;
}

header {
    padding: 1em;
    color: white;
    background-color: #1D2026 ;
    clear: left;
    text-align: left;
}

footer{
    padding: 1em;
    color: white;
    background-color:#1D2026 ;
    font-family:'Tenor Sans', sans-serif;
    clear: left;
    text-align: center;
}

nav ul li a{
	display: block;
	text-decoration: none;
	font-family: 'Tenor Sans', sans-serif;
	color: #fff;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav ul li {
	font-size: 20px;
	border-bottom: 1px solid #444;
	padding: 10px 5px;
	background-color: #1D2026;
}

nav ul li:hover {
	background-color: #555;
	transition: all .3s ease;

}

@media screen and (min-width: 665px){
	nav{
		font-size: 0;
	}
	nav ul li {
		display: inline-block;
		width: 120px;
		font-size: 20px;
		border-bottom: none;
	}

	ul{

		background-color: #1D2026;
}

nav{

	float: left;
}

* {
  box-sizing: border-box;
}

*{
  margin:0;
  padding:0;
}



/*social buttons*/
#social{

	float: left;
	display: block;

	

}

h1{

	font-family: 'Tenor Sans', sans-serif;
	color: white;
}


/*newsletter sign up*/

#nl{

	margin-left: 5px;
}

#newsletter{
	float: right;
	margin-top: 80px;
}

#email1{
	font-family: 'Tenor Sans', sans-serif;
	width: 300px;
	font-size: 15px;
}

button{
	font-family: 'Tenor Sans', sans-serif;
	font-size: 15px;
	width: 65px;
	height: 40px;
	border-radius: 10px;
}

/*news items on homepage*/
#LN{
	margin-top: 40px;
}

#news1{
	margin-top: 40px;

}

#n1{

   position: absolute; 
   top: 1300px; 
   left: 0; 
   background-color: white;
   color: #1D2026;
   font-size: 25px;

 }


 #news2{
 	
 }

.news{

	margin-bottom: 50px;
}

/*form on private booking page*/

      .formtxt{

      	text-align: center;
      	margin-top: 150px;
      }


        #formcon{
            width: 600px;
            margin-top: 90px;
            margin-left: 500px;
            margin-bottom: 60px;

         }
         
         
         .btn1{/*to offset submit buttton*/

         margin-left: 180px;

        }

        .frm{

        	font-size: 17px;
        	margin-top: 5px;
        }


         .label{/*styling labels for the inputs*/
            display: inline-block;
            float: left;
            clear: left;
            text-align: left;
            width: 100px;
            margin-top: 5px;
         }
         legend{
            font-size: 15px;
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid #999;
            padding: 4px 15px;
         }
            
         label.field{
            display: block;
            text-align: right;
            width: 100px;
            float: left;
         }
         input{/*styling for input fields*/
            display: inline-block;
            width: 200px;
            border-radius: 5px;
            padding: 6px 8px; 
            margin-top: 6px;
            margin-left: 5px;  
            font-family: 'Tenor Sans', sans-serif;
            font-size: 15px;
         }

        textarea{/*styling for input fields*/
            display: inline-block;
            width: 200px;
            border-radius: 5px;
            padding: 6px 8px; 
            margin-top: 6px; 
            margin-left: 5px;
            font-family: 'Tenor Sans', sans-serif; 
            font-size: 20px;

        
        
         fieldset{
            width: 450px;
            border: 1px solid #999;
            border-radius: 20px;
            clear: both;
            padding: 20px;
            margin-bottom: 100px;
            background-color:rgba(129, 187, 201,.2);
         }


        /*fightnight*/ 

        .FN{

            margin-top: 100px;

        }


        /*media*/

        #vid1{

        	margin-top: 100px;
        	display: inline-block;

        }

        /*fighters*/

       .fgtcon{

       	margin-top: 200px;
       }

        #kell{}