<article>

<div class="slideshow-container">
     
    <img class="mySlides" src="images/AJ.jpg" style="width:100%">
    

    <!--
    <img class="mySlides" src="images/bellew.jpg" style="width:100%">
    

    
    <img class="mySlides" src="images/croll.jpg" style="width:100%">
   

    
    <img class="mySlides" src="images/KT.jpg" style="width:100%">
    

   
    <img class="mySlides" src="images/kong.jpg" style="width:100%">
    
  -->
</article>
<div class="news">
<h1 id="LN">Latest News</h1>
<div id="news1"> <img src="images/news1.jpg" style="width: 45%; height: 25%;"><h1 id="n1"><span>Bellew causes huge upset at The O2</span></h1></div>
<div id="news2"> <img src="images/news2.jpg" style="width: 25%; height: 25%;"><h1 id="n2"><span>Only was is up for Davies</span></h1></div>
<div id="news3"> <img src="images/news3.jpg" style="width: 25%; height: 25%;"><h1 id="n3"><span>Smith buzzing for title shot</span></h1></div>
<div id="news4"> <img src="images/news4.jpg" style="width: 25%; height: 25%;"><h1 id="n4"><span>We catch up woth AJ before the big fight</span></h1></div>
<div id="news5"> <img src="images/news5.jpg" style="width: 25%; height: 25%;"><h1 id="n5"><span>Seconds up sign promising young fighter</span></h1></div>
</div>
</div>