<article>

<div class="slideshow-container">
     
    <img class="mySlides" src="images/AJ.jpg" style="width:100%">


<div class='container'>	
					
					<div class='row'>
						<div class='col-md-12'>
							<h1>Bellew Causes Major Upset At The O2</h1>
							<img src="images/news1.jpg">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>	
						</div>
					</div>
				</div>



    <div class='container'>	
					
					<div class='row'>
						<div class='col-md-3'>
							<h1>Only Way is Up For Davies</h1>
							<img src="images/news2.jpg">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
							
						</div>
						<div class='col-md-3'>
							<h1>Smith Ready to Take On The World</h1>
							<img src="images/news3.jpg">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
						<div class='col-md-3'>
							<h1>We Catch Up With AJ Before The Big Fight</h1>
							<img src="images/news4.jpg">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
						<div class='col-md-3'>
							<h1>Wilson Signs With Seconds Out</h1>
							<img src="images/news5.jpg">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
					</div>
				</div>
    

    <!--
    <img class="mySlides" src="images/bellew.jpg" style="width:100%">
    

    
    <img class="mySlides" src="images/croll.jpg" style="width:100%">
   

    
    <img class="mySlides" src="images/KT.jpg" style="width:100%">
    

   
    <img class="mySlides" src="images/kong.jpg" style="width:100%">
    
 
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="modal-title">Competition Time!!!</h1>
            </div>
            <div class="modal-body">
<p>For your chance to win 2 x VIP tickets to Joshua vs Klitschko at Wembley on April 29th.<br><br>Answer the following question.<br><br> Who did Anthony Joshua beat to become IBF Heavyweight Champion?</p><br>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Answer">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <button type="submit" class="btn btn-default btn-block">Answer</button>
                    <br>
                    <p>Terms and Condiditons apply</p>
                </form>
            </div>
        </div>
    </div>
</div>





  -->





</article>




