

<article>


<div class="vid">

<iframe width="560" height="315" src="https://www.youtube.com/embed/49MFlUVBnSs" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/xAjofbn5KNo" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/NbR5H98M-Uw" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/IUEhI_TK7P0" frameborder="0" allowfullscreen></iframe>

</div>
  
</article>

