

<article>



<div class='medcon1'> 
<div class='row'>
<div class='col-md-6'>
<iframe id="vid1" width="500" height="315" src="https://www.youtube.com/embed/49MFlUVBnSs" frameborder="0" allowfullscreen></iframe>
</div>
<div class='col-md-6'>
<iframe width="500" height="315" src="https://www.youtube.com/embed/xAjofbn5KNo" frameborder="0" allowfullscreen></iframe> 
</div>
</div>
</div>


    <div class='medcon2'> 
<div class='row'>
<div class='col-md-6'>
<iframe width="500" height="315" src="https://www.youtube.com/embed/NbR5H98M-Uw" frameborder="0" allowfullscreen></iframe> 
    </div>
    <div class='col-md-6'>
<iframe width="500" height="315" src="https://www.youtube.com/embed/IUEhI_TK7P0" frameborder="0" allowfullscreen></iframe> 
</div>
    </div>
    </div>


  
</article>

