<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="modal-title">Competition Time!!!</h1>
            </div>
            <div class="modal-body">
<p>For your chance to win 2 x VIP tickets to Joshua vs Klitschko at Wembley on April 29th.<br><br>Answer the following question.<br><br> Who did Anthony Joshua beat to become IBF Heavyweight Champion?</p><br>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Answer">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <button type="submit" class="btn btn-default btn-block">Answer</button>
                    <br>
                    <p>Terms and Condiditons apply</p>
                </form>
            </div>
        </div>
    </div>
</div>

