
<article>

<div class="formtxt">

<h1 id="pbh1">To book any of our boxers to attend your private event<br> please fill in the contact form and someone will get back to you as soon as possible.</h1>


</div>










<div id="formcon">

               <div id="input_types">
                  <form id="pbform" action= templates/ method="post">
                     
                     <div class="label"><h1 class="frm"> First Name:</h1></div> <input type="text" id="fname"  name="fname" placeholder="required field"/><br>
                     <div class="label"><h1 class="frm">Last Name: </h1></div><input id="lname" name="lname" type="text" placeholder="required field"/><br>
                     <div class="label"><h1 class="frm">Email:</h1></div><input id="email" name="email"  type="email" placeholder="required field"/><br>
                     <div class="label"><h1 class="frm">Number:</h1></div><input name="telephone" placeholder="mobile number" pattern ="[0-9]{11}" title="Mobile phone number expected beginning 07********" type="tel" /><br>
                     <div class="label"><h1 class="frm">Post Code:</h1></div><input type="text" placeholder="post code " pattern="[0-9A-Za-z]{6}" title="Six character alpha-numeric code."/><br>
                     <div class="label"><h1 class="frm">Date:</h1></div><input id="date" name="date"  type="date" placeholder="required field"/><br>
                     <div class="label"><h1 class="frm">More info:</h1></div><textarea name="message" rows="10" cols="30"></textarea><br>
                    <button class="btn1" type="submit" value="submit">Submit</button>
                  </form> 
               </div>

</div>  
</article>

