
<article>

<div class="formtxt">

<h1 id="pbh1">To book any of our boxers to attend your private event<br> please fill in the contact form and someone will get back to you as soon as possible.</h1>


</div>










<div id="formcon">

               <div id="input_types">
                  <form>
                     
                     <div class="label"><h1>First Name:</h1></div> <input type="text" id="fname"  name="fname"/><br>
                     <div class="label"><h1>Last Name: </h1></div><input id="lname" name="lname" type="text" /><br>
                     <div class="label"><h1>Email:</h1></div><input id="email" name="email"  type="email" /><br>
                     <div class="label"><h1>Number:</h1></div><input id="number" name="number"  type="number" /><br>
                     <div class="label"><h1>Date of Event:</h1></div><input id="date" name="date"  type="date" /><br>
                     <div class="label"><h1>Tell us More:</h1></div><textarea name="message" rows="10" cols="30"></textarea>
                      <input  type="submit" class="submit" value="submit"/>
                  </form> 
               </div>

</div>  
</article>

